<link rel="stylesheet" href="/static/css/navigation.css">

<hr>

<nav class="NavBar">

    <ul class="Links">
        <li class="item">
            <a href="/">Home</a>
        </li>
        <li class="item">
            <a href="/cart/products">Cart</a>
        </li>
        <li class="item">
            <a href="/profile">Profile</a>
        </li>
        <li class="item">
            <a href="/chat">Chat</a>
        </li>
        <li class="item">
            <a href="/info">App info</a>
        </li>
        <li class="item">
            <a href="/newProd">Sell your videogame</a>
        </li>
        <li class="item">
            <a href="/logout">Logout</a>
        </li>
    </ul>

</nav>

<hr>