<link rel="stylesheet" href="/static/css/chat.css">

<p id="email" style="display: none;">{{user.email}}</p>
<p id="name" style="display: none;">{{user.name}}</p>
<p id="surname" style="display: none;">{{user.surname}}</p>

{{> navbar}}

<div class="usersContainer" id="usersContainer"></div>

<div id="chat" class="chat">

    <h2 class="chatTitle" id="chatTitle">Chat</h2>

    <div class="container" id="msgsContainer"></div>

    <hr class="hr">

    <div class="chatInput" id="chatInput">
        <input class="msg inputText" placeholder="Type a message..." type="text" id="msg">
        <button class="button" id="sendBtn">Send</button>
    </div>

    <hr>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../static/js/client.js"></script>