<p id="email" style="display: none;">{{user.email}}</p>
<p id="name" style="display: none;">{{user.name}}</p>
<p id="surname" style="display: none;">{{user.surname}}</p>

{{> navbar}}

<div class="usersContainer" id="usersContainer"></div>

<div id="chat" class="chat">

    <h2 id="chatTitle">Chat</h2>

    <div id="msgsContainer"></div>

    <div class="chatInput" id="chatInput">

        <input class="msg" type="text" id="msg">
        <button class="btn btn-primary send" id="sendBtn">Enviar</button>

    </div>

    <hr>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../static/js/client.js"></script>