<form action="/login" method="POST">

    <hr>

    <h1>Iniciar sesión</h1>

    {{> error }}

    <div class="inputs">
        <input type="text" name="email" id="email" class="emailInput" placeholder="Ingrese su correo electrónico">
        <input type="password" name="password" id="password" class="passwordInput" placeholder="Ingrese su contraseña">
    </div>

    <button type="submit" class="btn btn-primary submit">Iniciar sesión</button>

    <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
</form>