<link rel="stylesheet" href="/static/css/newProd.css">

{{> navbar }}

<form action="/newProd" enctype="multipart/form-data" method="POST">

    <hr>

    <h1 class="title">Sell your videogame</h1>

    {{> error }}

    <div class="inputs">

        <div class="input">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" class="nameInput field">
        </div>

        <div class="input">
            <label for="price">Price: </label>
            <input type="number" name="price" id="price" class="ageInput field">
        </div>

        <div class="input">
            <label for="category">Category: </label>
            <select class="select" name="category" id="">
                <option value="Triple A">Triple A</option>
                <option value="Indie">Indie</option>
            </select>
        </div>

        <div class="input selection">

            <span>Select platform:</span>

            <div class="form-check">
                <input style="margin: 0%;" type="checkbox" name="platforms" value="PC" />
                <label class="form-check-label" for="flexCheckDefault">PC</label>
            </div>

            <div class="form-check">
                <input style="margin: 0%;" type="checkbox" name="platforms" value="XBOX" />
                <label class="form-check-label" for="flexCheckChecked">XBOX</label>
            </div>

            <div class="form-check">
                <input style="margin: 0%;" class="check" type="checkbox" name="platforms" value="PS5" />
                <label class="form-check-label" for="flexCheckChecked">PS5</label>
            </div>
        </div>

        <div class="input phoneI">
            <label for="img" style="font-weight: bold;">Select image:</label>
            <input class="field" type="file" name="image" id="imageInput" accept=".jpg,.png,.jpeg">
        </div>

        <hr>

    </div>

    <button type="submit" class="btn">Sell</button>

</form>