<form action="/register" method="POST">

    <hr>

    <h1>Registrarse</h1>

    {{> error }}

    <div class="inputs">
        <input type="text" name="email" id="email" class="emailInput" placeholder="Ingrese su correo electrónico">
        <input type="text" name="name" id="name" class="nameInput" placeholder="Ingrese su nombre">
        <input type="text" name="surname" id="surname" class="surnameInput" placeholder="Ingrese su apellido">
        <input type="password" name="password" id="password" class="passwordInput" placeholder="Ingrese su contraseña">

    </div>

    <button type="submit" class="btn btn-primary submit">Registrarse</button>

    <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
</form>