/* --- CLASSES --- */

.userInfo p span {
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input {
    margin-top: 1%;
    margin-right: 50%;
    margin-left: 1%;
}

.inputs div {
    display: flex;
    flex-direction: row;
}

.ageInput, .phoneInput {
    margin-bottom: 3%;
}

.emailDiv {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.emailDiv div{
    display: flex;
    flex-direction: column;
}

.emailDiv div input {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
}

.submit {
    width: 10%;
    height: 80%;
    margin-top: 0.6%;
    margin-left: 2%;
}

.chat {
    display: flex;
    flex-direction: column;
}

.chat h2 {
    text-align: center;
}

.chat div {
    margin: auto;
    width: 50%;
}

.chatInput {
    display: flex;
    flex-direction: column;
}

.send {
    margin-top: 1%;
}

.msg {
    margin-top: 1%;
}

.prodList {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
}

.prod img {
    height: 400px;
    width: 250px;
}

.prodInfo {
    font-weight: bold;
    font-size: large;
}

.platforms {
    display: flex;
    flex-direction: row;
}

.platforms li {
    margin-left: 5%;
}

.usersContainer {
    margin: 1%;
}


/* --- CHAT CSS --- */

.msgBubble {
    background-color: lightgray;
    margin: 1%;
    border-style: solid;
    border-color: white;
    width: 30%;
}

.local {
    background-color: lightblue;
    text-align: right;
}

.remote {
    background-color: lightgreen;
}

