<link rel="stylesheet" href="/static/css/users.css">

<h2 class="pink title">Connected users:</h2>

<ul>
    {{#if users.length}}

    {{#each users}}
    <li>
        <p class="username">{{email}}</p>
    </li>
    {{/each}}

    {{else}}

    <li>
        <p class="username">No connected users :c</p>
    </li>

    {{/if}}
</ul>

<hr>